/*estilos generales*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
-webkit-box-sizing:border-box;
}

html. body{
	width: 100%;
	height: 100%;

}
i{
	cursor: pointer;
}
/*estilos generales*/


#reproductor{
	display: block;
	width: 50%;
	background:black;
	color:#fff;
	margin: auto;

}